/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    height: 100vh;
    background: black;
}

.seperator {
    background: rgb(36, 36, 36);
    width: 100%;
    height: 8px;
    position: relative;
    z-index: 2;
}

/* main section */
.main {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/563192ea-ac0e-4906-a865-ba9899ffafad/6b2842d1-2339-4f08-84f6-148e9fcbe01b/IN-en-20231218-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
}

.main .box {
    height: 90vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    position: absolute;
    top: 0;
}

/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
    height: 80px;
    position: relative;
}

nav div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    background: rgba(255, 0, 0, 0.9);
    transition: 0.2s ease-in;
    border: 0px;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    background: rgba(255, 0, 0, 0.8);
}

.lang {
    max-width: 130px;
    padding: 6px 10px;
    border-radius: 4px;
    background: #000;
    border: 1px solid rgb(126, 125, 125);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.lang img{
    filter: invert(1);
    height: 16px;
    width: 16px;
}
.custom {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #000;
    border: none;
    font-size: 16px;
    padding: 0px 20px;
    margin: 0px -13px;
}

.custom:focus {
    outline: none;
}

.custom option{
    background: white;
    color: black;
}
.sign {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    padding: 8px 15px;
    border-radius: 5px;
}

/* hero */
.hero {
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(100% - 80px);
    padding: 0px 10px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.start div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.start h5 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-size: 20px;
}

.start input {
    width: max(26vw, 280px);
    padding: 14px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgba(23, 23, 23, 0.5);
    font-size: 16px;
    line-height: 24px;
}

.start button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px 25px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
}

/* rest */
.rest {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0px auto;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
}

.rest-content h1 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 900;
}

.rest-content h3 {
    font-size: 24px;
    font-weight: 400;
}

/* first */
.firstImg,
.thirdImg {
    position: relative;
}

.firstImg img,
.thirdImg img {
    width: 555px;
    position: relative;
    z-index: 2;
}

.firstImg video {
    position: absolute;
    top: 86px;
    left: 73px;
    object-fit: cover;
}

/* second */
.secImg {
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secImg img {
    height: 50vh;
}

.download {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px;
    width: 300px;
    border-radius: 17px;
    box-shadow: 0 0 2em 0 rgb(0, 0, 0);
    border: 2px solid rgba(128, 128, 128, 0.7);
    position: absolute;
    bottom: 0;
    background: #000;
}

.download img:first-child {
    height: 10vh;
}

.download img:last-child {
    height: 40px;
    margin-left: 35px;
}

.download-content h4 {
    font-size: 16px;
    font-weight: 500;
}

.download-content h5 {
    font-size: 14px;
    font-weight: 400;
    color: #0071eb;
}

/* thrid */
.thirdImg video {
    position: absolute;
    top: 45px;
    left: 100px;
    height: 200px;
    object-fit: cover;
}

/* fourth */
.fourthImg img {
    width: max(40vw, 300px);
}

/* faq */
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0px auto;
    gap: 8px;
    padding: 10px;
}

.faqbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73vw;
    background-color: #2d2d2d;
    padding: 23px 20px;
    transition: 0.1s ease-in;
}

.faq h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 60px;
    margin-bottom: 20px;
}

.faqbox span {
    font-size: 24px;
    font-weight: 400;
}

.faqbox:hover {
    cursor: pointer;
    background: #414141;
}

.faq .start {
    margin: 50px 0px;
}

.faqbox img {
    filter: invert(1);
}

/* footer */
footer {
    max-width: 1200px;
    margin: 0px auto;
    padding: 70px 20px;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 30px 0px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .lang {
    margin-bottom: 20px;
}

footer a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

footer a:active {
    color: red;
}

footer span:first-child {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

footer span a {
    font-size: 16px;
}

footer span:last-child {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

@media screen and (max-width:959px) {
    .rest-content {
        text-align: center;
    }

    .rest-content h1 {
        font-size: 32px;
        font-weight: 700;
    }

    .rest-content h3 {
        font-size: 18px;
    }

    .rest {
        flex-direction: column;
    }

    .faq h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    .faqbox span {
        font-size: 18px;
    }

    .faqbox img {
        height: 25px;
    }

    .grid-box {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:739px) {
    .main {
        height: 120vh;
    }

    .main .box {
        height: 120vh;
    }

    nav img {
        width: 89px;
        height: 24px;
    }

    .main .custom{
        width: 0px;
    }
    .hero h1 {
        font-size: 32px;
    }

    .hero h3,
    .hero h5 {
        font-size: 18px;
    }

    .start div {
        flex-direction: column;
    }

    .firstImg img {
        width: 350px;
    }

    .firstImg video {
        top: 55px;
        left: 47px;
        width: 280px;
    }

    .thirdImg img {
        width: 280px;
    }

    .thirdImg video {
        top: 20px;
        left: 55px;
        height: 95px;
    }

}